#video {
  width: 320px;
  height: 240px;
}

.play_border {
  display: inline-block;
  width: 20px;
  height: 16px;
  border: 2px solid rgba(0,0,0,0.7);
  cursor: pointer;
  background-color: white;
  z-index: 1000
}

#play_button {
  position:relative;
  margin: 0;
  left: 30%;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid rgba(0,0,0,1);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
}

#scrub-bar {
  margin: 0;
  display: inline-block;
  width: 296px;
  height: 20px;
  background-color: grey;
  cursor: pointer;
  right: 20px;
}

#scrubber {
  width: 5px;
  height: 20px;
  position: absolute;
  margin-top: 222px;
  background-color: red;
  z-index: 30;
}

#progress {
  width: 0;
  height: 20px;
  background-color: #3ea9f5;  
}

#counter {
  font-size: 1em;
  color: white;
  position: relative;
  float: right;
  right: 10px;
  overflow: hidden;
}
