#scrub-bar {
  width: 320px;
  height: 20px;
  background-color: grey;
  margin-top:30px;
  width: 320px;
  cursor: pointer;
}

#scrubber {
  width: 5px;
  height: 20px;
  position: absolute;
  background-color: red;
  z-index: 30;
  top:30px;
}

#progress {
  width: 0;
  height: 20px;
  background-color: #3ea9f5; 
  opacity: 0.7;
}

